.HomePage{
    max-height: 100vh;
}

.HomePageButton {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 50px auto 100px;
}

.HomePageButton button {
  height: 150px;
  margin: 20px 0px;
  background-color: #6ce200;
  border: 0;
  border-radius: 10px;
  color: black;
  font-size: 50px;
  cursor: pointer;
  opacity: 0.8;
  font-weight: bold;
}

.HomePageButton button:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .HomePageButton {
    width: 90%;
  }
}
