.vignettesArea{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 100px;
    width: 100%;
}

@media screen and (max-width : 800px) {
    .vignettesArea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}