.container {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 30%;
}
img.title {
    width: 300px;
    height: auto;
}
.container img {
    width: 200px;
    height: auto;
}